/* topBar */
#sereneSettings {
	position: relative;
	width: 300px;
	height: 200px;
	background-color: #222;
	border-radius: 1px 30px 30px 1px;
	box-shadow: inset -10px 0px 40px 1px #777;
	float: left;
}

#settingsSphere {
	cursor: pointer;
	background-color: #666;
	width: 40px;
	height: 40px;
	top: 140px;
	left: 190px;
}
#settingsSphereText {
	font-size: xx-large;
	margin-top: 10px;
}

/* List */
#sensorLog{
	position: absolute;
	width: 300px;
	top: 210px;
}

#armButton {
	position: relative;
	top: 10px;
	left: 20px;
	width: 200px;
	height: 70px;
}

.sphere {
	/*cursor: pointer;*/
	margin: 5px 50px 0 40px;
	left: 50px;
	top: 100px;
}

.smallSensors {
	margin-left: 300px;
}

/* sensor */
.sensordiv {
	width: 80%;
	/*float:left;*/
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 10px;
	height: 7em;
	margin: 10px auto;
	box-shadow: inset 0px 30px 40px -20px blue;
	position: relative;
}
.sensortext {
	text-align: center;
	padding: 10px;
	font-size: xx-large;
	cursor: pointer;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

	/*margin-left: 30px;*/
}
.setSensorState {
	position: absolute;
	bottom: 0;
	padding: 20px;
}
.setSensorPin {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
}



/* Serien */
.activeAlarm {
	/*position: absolute;*/
	-webkit-animation: background 2s infinite;
	animation: background 2s infinite;  
}

@-webkit-keyframes background {
	0% { background-color: red; }
	33% { background-color: green; }
	67% { background-color: blue; }
	100% { background-color: red; }
}

@keyframes background {
	0% { background-color: red; }
	33% { background-color: green; }
	67% { background-color: blue; }
	100% { background-color: red; }
}

.armedAlarm {background-color: #090; }
.armedAlarm:hover {background-color: #070}
.armedAlarm:active {background-color: #040}
.armedAlarm:after {content: "Deactivate Alarm";}


.disarmedAlarm {background-color: #900;}
.disarmedAlarm:hover {background-color: #700}
.disarmedAlarm:active {background-color: #400}
.disarmedAlarm:after {content: "Activate Alarm";}
